
<div class="ui blue inverted massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item" href="/collect">
          Collect
        </a>
        <a class="item" href="/cues">
          Cues
        </a>
        <a class="item" href="/connect">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
<div class="ui raised very padded text container segment">
<table class="ui blue inverted striped table">
  <thead>
    <tr>
      <th scope="col">Comics</th>
      <th scope="col">Cards</th>
      <th scope="col">Records</th>
      <th scope="col">Stamps</th>
      <th scope="col">Wines</th>
      <th scope="col">Toys</th>
    </tr>
  </thead>
</table>
</div>

<div class="ui grid"  style="justify-content: space-evenly">
  <div class="three wide column">
    <div>
        <form class="ui form" id="new-comic-form">
          <div class="field">
            <label>Category</label>
            <input type="text" id="category">
            <label>Publisher</label>
            <input type="text" id="publisher">
            <label>Title</label>
            <input type="text" id="title">
            <label>Issue</label>
            <input type="text" id="issue">
            <label>Quality</label>
            <input type="text" id="quality">
          </div>
      <br>
      <button class="ui button" type="submit">Submit</button>
      </form> 
    </div>
  </div>
  <div class="twelve wide column">
         <table class="ui celled table">
  <thead>
    <tr><th>Category</th>
    <th>Publisher</th>
    <th>Title</th>
    <th>Issue</th>
    <th>Quality</th>
  </tr></thead>
  <tbody>
    {{#each comics}}
    <tr>
      <td data-label="Category" id="comicCategory">{{category}}</td>
      <td data-label="Publisher" id="comicPublisher">{{publisher}}</td>
      <td data-label="Title" id="comicTitle">{{title}}</td>
      <td data-label="Issue" id="comicIssue">{{issue}}</td>
      <td data-label="Quality" id="comicQuality">{{quality}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> 
  </div>

</div>

<script type="text/javascript">
$("#new-comic-form").on("submit", function (event) {
        event.preventDefault();
        console.log("you clicked me")
        console.log($("#category").val())
        console.log($("#publisher").val())
        console.log($("#title").val())
        console.log($("#issue").val())
        console.log($("#quality").val())

        const newComic = {
            category: $("#category").val(),
            publisher: $("#publisher").val(),
            title: $("#title").val(),
            issue: $("#issue").val(),
            quality: $("#quality").val()
        }
        console.log(newComic)
       $.ajax({
            url: "/api/collections/comics",
            method: "POST",
            data: {
                category: $("#category").val(),
                publisher: $("#publisher").val(),
                title: $("#title").val(),
                issue: $("#issue").val(),
                quality: $("#quality").val(),
            }
        }).done(function (response) {
            console.log(response);
            if (response.success) {
                $("#category").val("")
                $("#publisher").val("")
                $("#title").val("")
                $("#issue").val("")
                $("#quality").val("")
                setTimeout(function () { window.location.replace("/collect"); }, 100);
            }
        })
        
});
</script>



