
<div class="ui blue inverted massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item" href="/collect">
          Collect
        </a>
        <a class="item" href="/cues">
          Cues
        </a>
        <a class="item" href="/connect">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
<div class="ui raised very padded text container segment">
<table class="ui blue inverted striped table">
  <thead>
    <tr>
      <th scope="col">Comics</th>
      <th scope="col">Cards</th>
      <th scope="col">Records</th>
      <th scope="col">Stamps</th>
      <th scope="col">Wines</th>
      <th scope="col">Toys</th>
    </tr>
  </thead>
</table>
</div>

<div class="ui grid" id="inputComic" style="justify-content: space-evenly">
  <div class="three wide column">
    <div>
        <div class="ui form">
          <div class="field">
            <label>Category</label>
            <input type="text">
            <label>Publisher</label>
            <input type="text">
            <label>Title</label>
            <input type="text">
            <label>Issue</label>
            <input type="text">
            <label>Quality</label>
            <input type="text">
          </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
         <table class="ui celled table">
  <thead>
    <tr><th>Category</th>
    <th>Publisher</th>
    <th>Title</th>
    <th>Issue</th>
    <th>Quality</th>
  </tr></thead>
  <tbody>
    {{#each comics}}
    <tr>
      <td data-label="Category">{{category}}</td>
      <td data-label="Publisher">{{publisher}}</td>
      <td data-label="Title">{{title}}</td>
      <td data-label="Issue">{{issue}}</td>
      <td data-label="Quality">{{quality}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> 
  </div>

</div>



