
<div class="ui blue inverted massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item" href="/collect">
          Collect
        </a>
        <a class="item" href="/cues">
          Cues
        </a>
        <a class="item" href="/connect">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
<div class="ui raised very padded text container segment">
<table class="ui blue inverted striped table">
  <thead>
    <div class="table-buttons" style="text-align: center">
      <button class="ui button" scope="col" id="comicBtn">Comics</button>
      <a href="/cards"><button class="ui button" scope="col" id="cardBtn">Cards</button></a>
      <button class="ui button" scope="col" id="recordBtn">Records</button>
      <button class="ui button" scope="col" id="stampBtn">Stamps</button>
      <button class="ui button" scope="col" id="wineBtn">Wines</button>
      <button class="ui button" scope="col" id="toyBtn">Toys</button>
    </div>
  </thead>
</table>
</div>
<div id="comic-div">
  <div class="ui grid"  style="justify-content: space-evenly">
    <div class="three wide column">
      <div>
          <form class="ui form" id="new-comic-form">
            <div class="field">
              <label>Category</label>
              <input type="text" id="category">
              <label>Publisher</label>
              <input type="text" id="publisher">
              <label>Title</label>
              <input type="text" id="title">
              <label>Issue</label>
              <input type="text" id="issue">
              <label>Quality</label>
              <input type="text" id="quality">
            </div>
        <br>
        <button class="ui button" type="submit">Submit</button>
        </form> 
      </div>
    </div>
  <div class="twelve wide column">
         <table class="ui celled table">
          <thead>
              <tr><th>Category</th>
              <th>Publisher</th>
              <th>Title</th>
              <th>Issue</th>
              <th>Quality</th>
            </tr></thead>
              <tbody>
              {{#each comics}}
                <tr>
                  <td data-label="Category" id="comicCategory">{{category}}</td>
                  <td data-label="Publisher" id="comicPublisher">{{publisher}}</td>
                  <td data-label="Title" id="comicTitle">{{title}}</td>
                  <td data-label="Issue" id="comicIssue">{{issue}}</td>
                  <td data-label="Quality" id="comicQuality">{{quality}}</td>
                </tr>
              {{/each}}
              </tbody>
          </table> 
  </div>

</div>
</div>




