<div class="ui blue inverted massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item" href="/collect">
          Collect
        </a>
        <a class="item" href="/cues">
          Cues
        </a>
        <a class="item" href="/connect">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
<div class="ui raised very padded text container segment">
<table class="ui blue inverted striped table">
  <thead>
    <div class="table-buttons" style="text-align: center">
      <a href="/collect"><button class="ui button" scope="col">Comics</button></a>
      <a href="/cards"><button class="ui button" scope="col">Cards</button></a>
      <a href="/records"><button class="ui button" scope="col">Records</button></a>
      <a href="/stamps"><button class="ui button" scope="col">Stamps</button></a>
      <a href="/wines"><button class="ui button" scope="col">Wines</button></a>
      <a href="/toys"><button class="ui button" scope="col">Toys</button></a>
    </div>
  </thead>
</table>
</div>

<div id="wine-div">
  <div class="ui grid"  style="justify-content: space-evenly">
    <div class="three wide column">
      <div>
          <form class="ui form" id="new-wine-form">
            <div class="field">
              <label>Category</label>
              <input type="text" id="wineCategory">
              <label>Vineyard</label>
              <input type="text" id="wineVineyard">
              <label>Style</label>
              <input type="text" id="wineStyle">
              <label>Variety</label>
              <input type="text" id="wineVariety">
              <label>Vintage</label>
              <input type="text" id="wineVintage">
              <label>Wine Grade</label>
              <input type="text" id="wineWineGrade">
            </div>
        <br> 
        <button class="ui button" type="submit">Submit</button>
        </form> 
      </div>
    </div>
  <div class="twelve wide column">
         <table class="ui celled table">
          <thead>
              <tr><th>Category</th>
              <th>Vineyard</th>
              <th>Style</th>
              <th>Variety</th>
              <th>Vintage</th>
              <th>Wine Grade</th>
            </tr></thead>
              <tbody>
              {{#each wines}}
                <tr>
                  <td data-label="Category">{{category}}</td>
                  <td data-label="Vineyard">{{vineyard}}</td>
                  <td data-label="Style">{{style}}</td>
                  <td data-label="Variety">{{variety}}</td>
                  <td data-label="Vintage">{{vintage}}</td>
                  <td data-label="WineGrade">{{winegrade}}</td>
                </tr>
              {{/each}}
              </tbody>
          </table> 
  </div>

</div>
</div>